
nav {
	font-family: monospace;
	z-index: 10;
	margin-top: 50px;
	margin-right: 30px;
}

nav > ul {
	text-align: right;
}

nav > ul > li {
	display: inline-block;
}
li:hover {
	background: #008c76ff;
	cursor: pointer;
}
h1 {
    text-align: center;
   
}
.card-deck {
	padding: 50px 50px 50px 50px;
}
